@model WebApp.ViewModels.Matchdto

@{
    ViewData["Title"] = "Add Match";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<br />
<br />
<br />
<br />
<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<div class="container-fluid">
    <div class='col-md-1'></div>
    <div class="col-md-10">
        <div class="row">
            <ol class="breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Matches" asp-action="Index">Match</a></li>
                <li><a>Add</a></li>
            </ol>
        </div>
        <div class="row">
            <form id="MatchForm" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="col-md-8">
                    <div class="row">
                       
                        <div class="col-md-6">
                            <div class="col-md-10">
                                <label>Ground<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                                <select asp-for="GroundId" asp-items="ViewBag.Ground" required placeholder="--Select Ground--" style="width: 100%" class="js-example-basic-single">
                                    <option value="">--Select Ground--</option>
                                </select>
                                <span asp-validation-for="GroundId" class="text-danger"></span>
                            </div>
                            <div class="col-md-2">
                                <a data-placement="top" data-toggle="tooltip" style="cursor:pointer" title="Add Ground"><i data-toggle="modal" data-target="#NewGroundModal" class="fas flaticon-add-1"></i></a>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group label-floating">
                                    <label asp-for="Season" class="control-label">Season</label>
                                    <input asp-for="Season" placeholder="1/2/3" type="number" class="form-control" />
                                    <span asp-validation-for="Season" class="text-danger"></span>
                                </div>
                            </div>
                        </div>


                        <div class="col-md-2">
                            <div class="form-group">
                                <div class="form-group label-floating">
                                    <label asp-for="MatchOvers" class="control-label">Overs<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                                    <input asp-for="MatchOvers" required type="number" class="form-control" />
                                    <span asp-validation-for="MatchOvers" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Date of Match</label>
                                <div class="input-group date">
                                    <div class="input-group-addon">
                                        <i class="fa fa-calendar"></i>
                                    </div>
                                    <input type="text" asp-for="DateOfMatch" class="form-control pull-right" id="datepicker">
                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <hr />

                        <div class="col-md-6">
                            <label>First Inning Played By<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <select asp-for="HomeTeamId" required placeholder="--Select Team--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select Team--</option>
                            </select>
                            <span asp-validation-for="HomeTeamId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group label-floating">
                                    <label asp-for="HomeTeamOvers" class="control-label">Played Overs</label>
                                    <input asp-for="HomeTeamOvers" type="number" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <a data-placement="top" data-toggle="tooltip" style="cursor:pointer" title="Add Team"><i data-toggle="modal" data-target="#NewTeamModal" class="fas flaticon-add-1"></i></a>
                        </div>
                        <div class="col-md-6">
                            <label>Secong Inning Player By<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <select asp-for="OppponentTeamId" required placeholder="--Select Team--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="OppponentTeamId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="form-group label-floating">
                                    <label asp-for="OppTeamOvers" class="control-label">Played Overs</label>
                                    <input asp-for="OppTeamOvers" type="number" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">

                        <div class="col-md-4" style="margin-top: 10px">
                            <label>Match Type<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <select id="MatchTypeId" asp-for="MatchTypeId" asp-items="ViewBag.MatchType" required placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                            <span asp-validation-for="MatchTypeId" class="text-danger"></span>
                        </div>
                        <div class="col-md-4" style="margin-top: 10px" id="tourSection">
                            <label>Tournament<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <select id="TournamentId" asp-for="TournamentId" asp-items="ViewBag.TournamentId" style="display:none; width: 100%" placeholder="--Select--" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div id="tournamentStageSection" class="col-md-4" style="margin-top: 10px">
                            <label>Tournament Stage<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <select id="TournamentStageId" asp-for="TournamentStageId" asp-items="ViewBag.Stage" style="display:none; width: 100%" placeholder="--Select--" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <div id="matchSeriesSection" class="col-md-4" style="margin-top: 10px">
                            <label>Series<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <select id="MatchSeriesId" asp-for="MatchSeriesId" asp-items="ViewBag.MatchSeries" style="display:none; width: 100%" placeholder="--Select--" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                        </div>

                    </div>
                    <div class="row">
                        <hr />
                        <div class="col-md-6">
                            <label>Man of the match</label>
                            <select asp-for="PlayerOTM" asp-items="ViewBag.PlayerOTM" style="display:none; width: 100%" placeholder="--Select--" class="js-example-basic-single">
                                <option value="">--Select--</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <div class="form-group label-floating">
                                    <label asp-for="Result" class="control-label">Result<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                                    <input asp-for="Result" required type="text" class="form-control" />
                                    <span asp-validation-for="Result" class="text-danger"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-6">
                                <span id="span" style="color: red"></span>
                                <img class="img-responsive" id="Img" style="background-size:cover;  margin-bottom: 1em;" />
                                <label asp-for="MatchImage" class="btn btn-box-tool">
                                    <i class="far fa-picture-o"> Upload</i> <input asp-for="MatchImage" type="file" class="hidden" style="height:auto" />
                                </label>
                                <label id="RemoveImage" class="btn btn-box-tool">
                                    <i class="far fa-trash-alt"> Remove</i>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div id="snackbar"></div>
            <div class="footer">
                <ul class="list-inline">
                    <li><input id="BackBtn" type="button" value="Back" class="btn btn-default"></li>
                    <li><input id="MatchCreate" type="button" value="Add" class="btn btn-outlined btn-primary"></li>
                </ul>
            </div>
        </div>
    </div>
    <div class='col-md-1'></div>

</div>

<div id="NewTeamModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add New Team</h4>
            </div>
            <div class="modal-body">
                <form id="TeamForm" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Team Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input id="TeamName" required class="form-control" />
                            <span id="TeamNameSpan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">City<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input id="City" required class="form-control" />
                            <span id="CitySpan" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="wizard-footer">
                    <div class="pull-left">
                        <input type='button' class='btn btn-default' data-dismiss="modal" value='Cancel' />
                        <input id="AddTeam" onclick="AddTeam()" data-dismiss="modal" type="button" class='btn btn-outlined btn-primary' value='Add' />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="NewGroundModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header bg-red">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Ground</h4>
            </div>
            <div class="modal-body">
                <form id="TeamForm" enctype="multipart/form-data">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Ground Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input id="GroundName" required class="form-control" />
                            <span id="GroundNameSpan" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Location<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input id="location" required class="form-control" />
                            <span id="locationSpan" class="text-danger"></span>
                        </div>
                    </div>
                </form>
                <div class="wizard-footer">
                    <div class="pull-left">
                        <input type='button' class='btn btn-default' data-dismiss="modal" value='Cancel' />
                        <input id="AddGround" onclick="AddGround()" data-dismiss="modal" type="button" class='btn btn-outlined btn-primary' value='Add' />
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="~/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 170px;
            border: 1px solid #bbb;
        }

        /*#btn {
         k

            width: 170px;
        }*/
    </style>


    <script>
        //Select2
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
            TeamDropDown();
        });

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })
        $("#TournamentId").attr("disabled", true);
        $("#TournamentStageId").attr("disabled", true);
        $("#MatchSeriesId").attr("disabled", true);
        $("#MatchTypeId").change(function () {
            if ($('#MatchTypeId').val() === "2") {
                $("#MatchSeriesId").val('').trigger('change');
                $("#TournamentId").attr("disabled", false)
                $("#TournamentStageId").attr("disabled", false);
                $("#MatchSeriesId").attr("disabled", true);
            }
            else if ($('#MatchTypeId').val() === "3") {
                $("#MatchSeriesId").attr("disabled", false);
                $("#TournamentId").attr("disabled", true);
                $("#TournamentStageId").attr("disabled", true);
                $("#TournamentId").val('').trigger('change');
                $("#TournamentStageId").val('').trigger('change');
            }
            else if ($('#MatchTypeId').val() === "1") {
                $("#TournamentId").attr("disabled", true);
                $("#TournamentStageId").attr("disabled", true);
                $("#MatchSeriesId").attr("disabled", true);
                $("#TournamentId").val('').trigger('change');
                $("#TournamentStageId").val('').trigger('change');
                $("#MatchSeriesId").val('').trigger('change');
            }
        });

        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Matches/Index'
            });
        });
        let AddTeam = function () {
            debugger;
            var teamName = $('#TeamName').val()
            var city = $('#City').val()
            if (teamName == null || teamName == undefined || teamName == "") {
                document.getElementById('TeamNameSpan').innerHTML = "Required";
                $('#TeamNameSpan').css('color', 'red');
            }
            else {
                document.getElementById('TeamNameSpan').innerHTML = "";
            }

            if (city == null || city == undefined || city == "") {
                document.getElementById('CitySpan').innerHTML = "Required";
                $('#CitySpan').css('color', 'red');
            }
            else {
                document.getElementById('CitySpan').innerHTML = "";
            }


            if (teamName == null || teamName == undefined || teamName == "" || city == null || city == undefined || city == "")
                return
            const TeamName = document.getElementById('TeamName').value;
            const City = document.getElementById('City').value;
            debugger;
            const model = {
                team_Name: TeamName,
                city: City,
                fileName: null,
                place: null,
                zone: null,
                contact: null,
                isRegistered: false
            };
            var header = new Headers();
            header.append("content-type", "application/json");

            const response = fetch('/Team/Add', {
                method: "Put",
                body: JSON.stringify(model),
                credentials: 'same-origin',
                headers: header
            }).then(response => {
                if (response.ok) {
                    //teamName.tex('');
                    //city.val('');
                    TeamDropDown();
                }
                else {
                    alert("Error");
                }
            });
        }


        let AddGround = function () {
            debugger;
            var groundName = $('#GroundName').val();
            var location = $('#location').val();
            if (groundName == null || groundName == undefined || groundName == "") {
                document.getElementById('GroundNameSpan').innerHTML = "Required";
                $('#GroundNameSpan').css('color', 'red');
            }
            else {
                document.getElementById('GroundNameSpan').innerHTML = "";
            }

            if (location == null || location == undefined || location == "") {
                document.getElementById('locationSpan').innerHTML = "Required";
                $('#locationSpan').css('color', 'red');
            }
            else {
                document.getElementById('locationSpan').innerHTML = "";
            }


            if (groundName == null || groundName == undefined || groundName == "" || location == null || location == undefined || location == "")
                return
            const ground = document.getElementById('GroundName').value;
            const loc = document.getElementById('location').value;
            debugger;
            const model = {
                name: ground,
                location: loc
            };
            var header = new Headers();
            header.append("content-type", "application/json");

            const response = fetch('/Ground/Add', {
                method: "Put",
                body: JSON.stringify(model),
                credentials: 'same-origin',
                headers: header
            }).then(response => {
                if (response.ok) {
                    //teamName.tex('');
                    //city.val('');
                    TeamDropDown();
                }
                else {
                    alert("Error");
                }
            });
        }

        var TeamDropDown = function () {
            $.ajax({
                type: "GET",
                url: "/Team/GetAllTeams",
                data: "{}",
                success: function (data) {
                    console.log(data);
                    console.log("asd==asd")
                    var s = '<option value="-1">--Select--</option>';
                    for (var i = 0; i < data.length; i++) {
                        s += '<option value="' + data[i].teamId + '">' + data[i].team_Name + '</option>';
                    }
                    $("#HomeTeamId").html(s);
                    $("#OppponentTeamId").html(s);
                }
            });
        }

        $(function () {
            $('#RemoveImage').click(function () {
                const MatchImg = document.getElementById('Img');
                MatchImg.style.backgroundImage = "";
            });

        });

        function myFunction(data) {
            var snackBar = $('snackbar');
            snackBar.textContent = data;
            snackBar.className = "show";
            setTimeout(function () { snackBar.className = snackBar.className.replace("show", ""); }, 3000);
        }

        $(document).on('click', '#MatchCreate', function (e) {
            if ($("#MatchForm").valid() == true) {
                $('#MatchCreate').attr("disabled", "disabled");
                var form = $("#MatchForm").closest("form");
                var formData = new FormData(form[0]);
                $.ajax({
                    type: "POST",
                    data: formData,
                    headers: {
                        'X-CSRF-TOKEN': document.getElementById("RequestVerificationToken").value,
                    },
                    dataType: "json",
                    url: "/Matches/Create",
                    processData: false,
                    contentType: false,
                    success: function (data) {
                        window.location = '/Matches'
                        myFunction(data);
                    },
                    fail: function (data) {
                        myFunction(data);
                    }
                })
            }       
        });

        var _URL = window.URL || window.webkitURL;

        function readURL(input) {
            var size = input.files[0].size / 1021 / 1024;
            if (size <= 2) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        //$('#PlayerImg').attr('src', e.target.result);
                        const MatchImg = document.getElementById('Img');
                        MatchImg.style.backgroundImage = "url(" + e.target.result + ")";
                        MatchImg.style.backgroundPosition = "cover";
                    }
                }

                reader.readAsDataURL(input.files[0]);
                document.getElementById("span").innerHTML = ""
            }
            else {
                document.getElementById("span").innerHTML = "max 2mb"
                const MatchImg = document.getElementById('Img');
                MatchImg.style.backgroundImage = "";
            }
        }

        $("#MatchImage").change(function () {
            readURL(this);
        });

    </script>
}
