@model CricketApp.Domain.Match

@{
    ViewData["Title"] = "Create";
}

<div class="container-fluid">
    <form asp-action="Create" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-10" style="margin-top:3em;">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="GroundName" class="control-label">Ground Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="GroundName" required class="form-control" />
                        <span asp-validation-for="GroundName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="Place" class="control-label">Place<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="Place" required class="form-control" />
                        <span asp-validation-for="Place" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="Season" class="control-label">Season</label>
                        <input asp-for="Season" placeholder="Year or 1/2/3" type="number" class="form-control" />
                        <span asp-validation-for="Season" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="MatchOvers" class="control-label">Overs<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="MatchOvers" required type="number" class="form-control" />
                        <span asp-validation-for="MatchOvers" class="text-danger"></span>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <label>First Inning Played By<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                <select asp-for="HomeTeamId" required asp-items="ViewBag.TeamId" placeholder="--Select Team--" style="width: 100%" class="js-example-basic-single">
                    <option value="">--Select Team--</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Secong Inning Player By<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                <select asp-for="OppponentTeamId" required asp-items="ViewBag.TeamId" placeholder="--Select Team--" style="width: 100%" class="js-example-basic-single">
                    <option value="">--Select--</option>
                </select>
            </div>

            @{
                if (ViewBag.IsTournament != null && ViewBag.IsTournament)
                {

                    <div class="col-md-6">
                        <label>Match Type<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <select id="status" asp-for="Status" required placeholder="--Select--" disabled style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                            <option value="Fiendly">Fiendly</option>
                            <option value="Tournament" selected>Tournament</option>
                        </select>
                    </div>
                    <div id="tourSection" class="col-md-6">
                        <label>Tournament<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <select asp-for="TournamentId" asp-items="ViewBag.TournamentId" disabled style="display:none; width: 100%" placeholder="--Select--" class="js-example-basic-single">
                            <option value="">--Select--</option>
                        </select>
                    </div>

                }
                else
                {

                    <div class="col-md-6">
                        <label>Status<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <select id="status" asp-for="Status" required placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                            <option value="Fiendly">Fiendly</option>
                            <option value="Tournament">Tournament</option>
                        </select>
                    </div>
                    <div id="tourSection" class="col-md-6">
                        <label>Tournament<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <select asp-for="TournamentId" asp-items="ViewBag.TournamentId" style="display:none; width: 100%" placeholder="--Select--" class="js-example-basic-single">
                            <option value="">--Select--</option>
                        </select>
                    </div>

                }
            }

            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="Result" class="control-label">Result<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="Result" required type="text" class="form-control" />
                        <span asp-validation-for="Result" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                @*<div class="input-group date" data-provide="datepicker">
                        <input type="date" class="form-control">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>*@
                <div class="input-group date" data-provide="datepicker">
                    <label asp-for="DateOfMatch" class="control-label">Date</label>
                    <input type="date" asp-for="DateOfMatch" data-provider="date" required class="form-control" />
                    <span asp-validation-for="DateOfMatch" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" style="margin-top: 100px">
                <div class="row">

                    <div class="img-responsive" id="Img" style="background-size:cover"></div>

                    <div>
                        <label asp-for="MatchImage" class="btn btn-primary">
                            Upload <input asp-for="MatchImage" type="file" class="hidden" style="height:auto" />
                        </label>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>

</div>
<div class="footer">
    <div class="container text-center">
        <button id="BackBtn" class="btn btn-primary btn-xs">Back</button>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 200px;
            border: 1px solid #bbb;
        }
    </style>
    <script>
        //Select2
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Matches/Index'
            });
        });

        const change = () => {
            if ($("#status").val() === "Tournament") {
                $("#tourSection").show();
            }
            else {

                $("#tourSection").hide();
                document.getElementById("TournamentId").value = "";
            }
        }

        $('#status').on('change', change);
        change();

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    //$('#PlayerImg').attr('src', e.target.result);
                    const MatchImg = document.getElementById('Img');
                    MatchImg.style.backgroundImage = "url(" + e.target.result + ")";
                    MatchImg.style.backgroundPosition = "cover";
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#MatchImage").change(function () {
            readURL(this);
        });

                                    //$('.datepicker').datepicker();


                                    //$.fn.datepicker.defaults.format = "mm/dd/yyyy";
                                    //$('.datepicker').datepicker({
                                    //    startDate: '-3d'
                                    //});
    </script>
}
