@model CricketApp.Domain.Match

@{
    ViewData["Title"] = "Create";
}
<div class="container-fluid">
    <div class="wizard-header">
        <h3 class="wizard-title">
            Edit Mode
        </h3>
    </div>

    <form asp-action="Edit" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-10" style="margin-top:3em;">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="GroundName" class="control-label">Ground Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="GroundName" required class="form-control" />
                        <span asp-validation-for="GroundName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="Place" class="control-label">Place<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="Place" required class="form-control" />
                        <span asp-validation-for="Place" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="Season" class="control-label">Season<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="Season" required type="number" class="form-control" />
                        <span asp-validation-for="Season" class="text-danger"></span>
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="form-group">
                    <div class="form-group label-floating">
                        <label asp-for="MatchOvers" class="control-label">Overs<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="MatchOvers" required type="number" class="form-control" />
                        <span asp-validation-for="MatchOvers" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="DateOfMatch" class="control-label">Date</label>
                    <input type="date" asp-for="DateOfMatch" required class="form-control" />
                    <span asp-validation-for="DateOfMatch" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <label>Home Team<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                <select asp-for="HomeTeamId" required asp-items="ViewBag.TeamId" placeholder="--Select Team--">
                    <option value="">--Select Team--</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Opponent Team<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                <select asp-for="OppponentTeamId" required asp-items="ViewBag.TeamId" placeholder="--Select Team--">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Status<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                <select asp-for="Status" required placeholder="--Select--">
                    <option value="">--Select--</option>
                    <option>Fiendly</option>
                    <option>Tournament</option>
                </select>
            </div>
            <div class="col-md-6">
                <label>Tournament</label>
                <select asp-for="TournamentId" asp-items="ViewBag.TournamentId" style="display:none;" placeholder="--Select--">
                    <option value="">--Select--</option>
                </select>
            </div>

            <div class="col-md-6">
                <label>Result<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                <select asp-for="Result" required placeholder="--Select--">
                    <option value="">--Select--</option>
                    <option>Win</option>
                    <option>Loss</option>
                    <option>Tie</option>
                </select>
            </div>
        </div>
        <div class="col-md-2">
            <div class="form-group" style="margin-top: 100px">
                <div class="row">
                    @{
                        var base64 = Model.MatchLogo == null || !Model.MatchLogo.Any() ? "" : Convert.ToBase64String(Model.MatchLogo);
                        <div class="img-responsive" id="Img" style='margin-bottom: 2em; background-size:cover; background-image: url("data:image/png;base64,@base64");'></div>
                    }
                    <label asp-for="MatchImage" class="btn btn-primary">
                        Upload <input asp-for="MatchImage" type="file" class="hidden" style="height:auto" />
                    </label>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </form>

</div>

<div class="footer">
    <div class="container text-center">
        <button id="BackBtn" class="btn btn-primary btn-xs">Back</button>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 200px;
            border: 1px solid #bbb;
        }
    </style>
    <script>
        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Matches/Index'
            });
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    //$('#PlayerImg').attr('src', e.target.result);
                    const MatchImg = document.getElementById('Img');
                    MatchImg.style.backgroundImage = "url(" + e.target.result + ")";
                    MatchImg.style.backgroundPosition = "cover";
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#MatchImage").change(function () {
            readURL(this);
        });


    </script>
}
