@model WebApp.ViewModels.FallOfWicketdto

@{
    ViewData["Title"] = "Matches";
}
<div class="container-fluid">
    <div class="form-group">
        <div class="box box-info">
            <div class="box-header with-border">
                <h4 class="box-title">@ViewBag.MatchName: </h4>
                <h4 class="box-title">Fall Of Wickets Graph</h4>
                <div class="box-tools pull-right">
                    <input type="hidden" id="matchId" value="@ViewBag.MatchId" />
                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                </div>
            </div>
            <div class="box-body chart-responsive">
                <div id="tester" style="width:100%;height:100%;"></div>
            </div>
            <!-- /.box-body -->
        </div>

    </div>
</div>



@section Scripts{
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script>
        var matchId = document.getElementById('matchId').value;
        $.ajax(`/MAtches/MatchChartJson?matchId=${matchId}`)
            .done(function (data) {
                var xArr = [];
                var objOne = data[0];
                if (objOne.first != null)
                    xArr.push(objOne.first);
                if (objOne.second != null)
                    xArr.push(objOne.second);
                if (objOne.third != 0)
                    xArr.push(objOne.third);
                if (objOne.fourth != 0)
                    xArr.push(objOne.fourth);
                if (objOne.fifth != 0)
                    xArr.push(objOne.fifth);
                if (objOne.sixth != 0)
                    xArr.push(objOne.sixth);
                if (objOne.seventh != 0)
                    xArr.push(objOne.seventh);
                if (objOne.eight != 0)
                    xArr.push(objOne.eight);
                if (objOne.ninth != 0)
                    xArr.push(objOne.ninth);
                if (objOne.tenth != 0)
                    xArr.push(objOne.tenth);


                TESTER = document.getElementById('tester');
                var layout = {
                    title: 'Fall of wickets',
                    xaxis: {
                        title: 'Wickets',
                        titlefont: {
                            family: 'Courier New, monospace',
                            size: 18,
                            color: '#7f7f7f'
                        }
                    },
                    yaxis: {
                        title: 'Runs',
                        titlefont: {
                            family: 'Courier New, monospace',
                            size: 18,
                            color: '#7f7f7f'
                        }
                    }
                };
                Plotly.plot(TESTER, [{
                    x: xArr.length,
                    y: xArr,

                }], layout, {
                        margin: { t: 0 }
                    });
            })
            .fail(function (error) {


            })


    </script>
    <style>
    </style>
}
