@model WebApp.ViewModels.Playersdto

@{
    ViewData["Title"] = "Add Player";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Players" asp-action="Index">Players</a></li>
        <li><a>Edit</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <form id="PlayerForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label asp-for="Player_Name" class="control-label">Player Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input asp-for="Player_Name" required class="form-control" />
                            <span asp-validation-for="Player_Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating">
                            <label asp-for="Contact" class="control-label">Contact No.</label>
                            <input asp-for="Contact" id="playerContact" class="form-control" data-inputmask='"mask": "9999-9999999"' data-mask />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="form-group label-floating">
                                <label asp-for="CNIC" class="control-label">Cnic</label>
                                <input asp-for="CNIC" id="playerCnic" class="form-control" data-inputmask='"mask": "99999-9999999-9"' data-mask />
                                <span asp-validation-for="CNIC" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <label>Role</label>
                        <select asp-for="PlayerRoleId" asp-items="ViewBag.PlayerRole" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Batting Style</label>
                        <select asp-for="BattingStyleId" asp-items="ViewBag.BattingStyle" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div class="col-md-4">
                        <label>Bowling Style</label>
                        <select asp-for="BowlingStyleId" asp-items="ViewBag.BowlingStyle" placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                        </select>
                    </div>


                    @{ if (ViewBag.HasTeamId != null && ViewBag.HasTeamId)
                        {
                            <div class="col-md-4" style="margin-top: 20px">
                                <label>Team<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                                <select asp-for="TeamId" asp-items="ViewBag.TeamId" required style="width: 100%" id="teamId" class="js-example-basic-single">
                                    <option value="">--Select--</option>
                                </select>
                            </div>

                        }
                        else
                        {
                            <div class="col-md-4" style="margin-top: 20px">
                                <label>Team<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                                <select asp-for="TeamId" asp-items="ViewBag.TeamId" required style="width: 100%" id="teamId" class="js-example-basic-single">
                                    <option value="">--Select--</option>
                                </select>
                            </div>

                        }
                    }

                    <div class="col-md-4" style="margin-top: 20px">
                        <label>Gender<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <select asp-for="Gender" required placeholder="--Select--" style="width: 100%" class="js-example-basic-single">
                            <option value="">--Select--</option>
                            <option selected>Male</option>
                            <option>Female</option>
                        </select>
                    </div>
                    <div class="col-md-4" style="margin-top: 20px">
                        <div class="form-group">
                            <label>Date of birth</label>
                            <div class="input-group date">
                                <div class="input-group-addon">
                                    <i class="fa fa-calendar"></i>
                                </div>
                                <input type="text" asp-for="DOB" class="form-control pull-right" id="datepicker">
                            </div>
                            <!-- /.input group -->
                        </div>
                    </div>


                    <div class="col-md-8">
                        <div class="form-group">
                            <div class="form-group label-floating">
                                <label asp-for="Address" class="control-label">St. Address</label>
                                <input asp-for="Address" class="form-control" />
                                <span asp-validation-for="Address" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" asp-for="IsGuestPlayer" value="true" class="flat-red">
                                IsGuest
                            </label>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <span id="span" style="color: red"></span>
                <img class="img-responsive" id="PlayerImg" style="background-size:cover" />

                <label asp-for="PlayerImage" class="btn btn-box-tool">
                    <i class="far fa-picture-o"> Upload</i> <input asp-for="PlayerImage" type="file" class="hidden" style="height:auto" />
                </label>
                <label id="RemoveImage" class="btn btn-box-tool">
                    <i class="far fa-trash-alt"> Remove</i> 
                </label>
            </div>
        </form>
    </div>
    <div id="snackbar"></div>
    <div class="footer">
        <ul class="list-inline">
            <li><input id="BackBtn" type="button" value="Back" class="btn btn-default prev-step"></li>
            <li><input id="PlayerCreate" type="button" value="Add" class="btn btn-primary"></li>
        </ul>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <link rel="stylesheet" href="~/css/photobox.css">
    <script src="~/js/photobox.js"></script>
    <style>
        #PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 170px;
            border: 1px solid #bbb;
        }
    </style>
    <script>

        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });
        $('[data-mask]').inputmask()

        //Select2
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        $(function () {
            $('.gallery a').photobox();
        });


        //iCheck for checkbox and radio inputs
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        })

        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })

        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Players/Index'
            });

        });

        $(function () {
            $('#RemoveImage').click(function () {
                const PlayerImg = document.getElementById('PlayerImg');
                PlayerImg.style.backgroundImage = "";
            });

        });

        function readURL(input) {
            var size = input.files[0].size / 1021 / 1024;
            if (size <= 2) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        //$('#PlayerImg').attr('src', e.target.result);
                        const PlayerImg = document.getElementById('PlayerImg');
                        PlayerImg.style.backgroundImage = "url(" + e.target.result + ")";
                        PlayerImg.style.backgroundPosition = "cover";
                    }

                    reader.readAsDataURL(input.files[0]);
                    document.getElementById("span").innerHTML = ""
                }
            } else {
                //var data = "image size must be less than 2mb";
                document.getElementById("span").innerHTML = "max 2mb"
                const PlayerImg = document.getElementById('PlayerImg');
                PlayerImg.style.backgroundImage = "";
            }
        }

        $("#PlayerImage").change(function () {
            readURL(this);
        });
        function myFunction(data) {
            var snackBar = document.getElementById('snackbar');
            snackBar.textContent = data;
            snackBar.className = "show";
            setTimeout(function () { snackBar.className = snackBar.className.replace("show", ""); }, 3000);
        }

        $(document).on('click', '#PlayerCreate', function (e) {
            //e.preventDefault();
            //e.stopImmediatePropagation();
            var form = $("#PlayerForm").closest("form");
            var formData = new FormData(form[0]);
            $.ajax({
                type: "POST",
                data: formData,
                headers: {
                    'RequestVerificationToken': document.getElementById("RequestVerificationToken").value,
                },
                dataType: "json",
                url: "/Players/Create",
                processData: false,
                contentType: false,
                success: function (data) {
                    myFunction(data);
                    window.location = '/Players/Index'
                },
                fail: function (data) {
                    myFunction(data);
                }
            })
        });

    </script>
}

