@model IEnumerable<CricketApp.Domain.Player>

@{
    ViewData["Title"] = "List of Players";
}
<div class="container">
    <div class="col-sm-12">
        <div class="wizard-container">
            <div class="card wizard-card">
                <div class="wizard-header">
                    <h3 class="wizard-title">
                        All Players
                    </h3>

                </div>
                <div class="container-fluid">
                    @*<p>
                            <button id="AddBtn" asp-action="Create" class="btn btn-primary">Add New</button>
                        </p>*@

                    <a asp-controller="Players" asp-action="Create" class="made-with-mk">
                        <div class="brand">Add</div>
                        <div class="made-with"> Create <strong>a new Player</strong></div>
                        <div class="ripple-container"></div>
                    </a>

                    @foreach (var item in Model)
                    {
                        <div class="dl-horizontal">
                            <div class="col-md-2">
                                <a asp-controller="Players" rel="tooltip" title="@item.Player_Name" asp-action="PlayerStatistics" asp-route-playerId="@item.PlayerId">
                                    <div class="img-responsive " style="margin-bottom: 2em; background-size:cover" onclick="playerStatistics" id="PlayerImg"></div>
                                </a>
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#AddBtn').click(function () {
                window.location = '/Players/Create'
            });
        });

        $(function () {
            $('#playerStatistics').click(function () {
                window.location = '/Players/PlayerStatistics'
            });
        });
    </script>
    <style>
        #PlayerImg {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 140px;
            border: 1px solid #bbb;
        }
    </style>

}
