@model CricketApp.Domain.Tournament

@{
    ViewData["Title"] = "Edit";
}
<div class="container-fluid wizard">
    <div class="row">
        <div class="col-md-12">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="TournamentId" />
                <div class="form-group">
                    <label>Tournament Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                    <input asp-for="TournamentName" class="form-control" />
                    <span asp-validation-for="TournamentName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Organizor" class="control-label"></label>
                    <input asp-for="Organizor" class="form-control" />
                    <span asp-validation-for="Organizor" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        <div class="container text-center">
            <button id="BackBtn" class="btn btn-primary btn-xs">Back</button>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Tournament/Index'
            });
        });
    </script>
}
