@model WebApp.ViewModels.Tournamentdto

@{
    ViewData["Title"] = "Edit Tournament";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}
<br />
<br />
<br />
<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Tournament" asp-action="Index">Tournament</a></li>
        <li><a>Edit</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <form id="TournamentForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" id="TournamentId" asp-for="TournamentId" />

            <div class="col-md-6">
                <div class="form-group">
                    <label>Tournament Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                    <input asp-for="TournamentName" class="form-control" />
                    <span asp-validation-for="TournamentName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label asp-for="Organizor" class="control-label"></label>
                    <input asp-for="Organizor" class="form-control" />
                    <span asp-validation-for="Organizor" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label>Starting Date</label>
                    <div class="input-group date">
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                        <input type="text" asp-for="StartingDate" class="form-control pull-right" id="datepicker">
                    </div>
                    <!-- /.input group -->
                </div>
            </div>

        </form>

    </div>
    <div id="snackbar"></div>
    <div class="footer">
        <ul class="list-inline">
            <li><input id="BackBtn" type="button" value="Back" class="btn btn-default"></li>
            <li><input id="TournamentCreate" type="button" value="Save" class="btn btn-primary"></li>
        </ul>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="~/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <script src="~/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/plugins/iCheck/icheck.min.js"></script>

    <script>
        //Date picker
        $('#datepicker').datepicker({
            autoclose: true
        })


        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Tournament/Index'
            });
        });

        function myFunction(data) {
            var snackBar = document.getElementById('snackbar');
            snackBar.textContent = data;
            snackBar.className = "show";
            setTimeout(function () { snackBar.className = snackBar.className.replace("show", ""); }, 3000);
        }
        $(function () {
            $('#TournamentCreate').click(function () {
                $('#TournamentCreate').attr("disabled", "disabled");
                try {
                    var formData = $("#TournamentForm").serialize();
                    $.ajax(`/Tournament/Edit`, {
                        data: formData,
                        headers: {
                            'RequestVerificationToken': document.getElementById("RequestVerificationToken").value,
                        },
                        method: "POST"
                    }).done(function (data) {
                        window.location = '/Tournament/Index'
                        myFunction(data);
                    }).fail(function (data) {
                        myFunction(data);
                    });


                } catch (ex) {
                    console.error(ex);
                }

            });
        });

    </script>
}
