
@{
        ViewData["Title"] = "Records";
    }
<div class="container-fluid">
    <div class="row">
        <div class="dl-horizontal">
      
    
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>Batting</h3>
                        <p></p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me"  asp-action="Batting" class="small-box-footer">
                        click here<i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>Bowling</h3>
                        <p></p>
                    </div>
                    <div class="icon">
                        <i class="ion-ios-partlysunny"></i>
                    </div>
                    <a data-toggle="tooltip" data-placement="top" title="Click me" asp-action="Bowling" class="small-box-footer">
                        click here<i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
        
 
        </div>
    </div>
</div>
@section Scripts{
    <style>
    </style>
}
