@model WebApp.ViewModels.Teamdto

@{
    ViewData["Title"] = "Add Team";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Teams" asp-action="Index">Team</a></li>
        <li><a>Add</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <form id="TeamForm" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Team Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input asp-for="Team_Name" required class="form-control" />
                            <span asp-validation-for="Team_Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Zone</label>
                            <input asp-for="Zone" type="number" class="form-control" />
                            <span asp-validation-for="Zone" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">City<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                            <input asp-for="City" required class="form-control" />
                            <span asp-validation-for="City" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Place</label>
                            <input asp-for="Place" class="form-control" />
                            <span asp-validation-for="Place" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Contact</label>
                            <input asp-for="Contact" class="form-control" data-inputmask='"mask": "9999-9999999"' data-mask />
                            <span asp-validation-for="Contact" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>
                                <input type="checkbox" asp-for="IsRegistered" value="true" class="flat-red">
                                IsRegistered
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <ul class="gallery">
                    <li><a href="" title="Team Logo"><img class="img-responsive" id="Img" style="background-size:cover" /></a></li>
                    <li>
                        <label asp-for="TeamImage" class="btn btn-box-tool">
                            <i class="far fa-picture-o"> Upload</i> <input asp-for="TeamImage" type="file" class="hidden" style="height:auto" />
                        </label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div id="snackbar"></div>
    <div class="footer">
        <ul class="list-inline">
            <li><input id="BackBtn" type="button" value="Back" class="btn btn-default prev-step"></li>
            <li><input id="TeamCreate" type="button" value="Add" class="btn btn-primary"></li>
        </ul>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/plugins/input-mask/jquery.inputmask.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.date.extensions.js"></script>
    <script src="~/plugins/input-mask/jquery.inputmask.extensions.js"></script>
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <link rel="stylesheet" href="~/css/photobox.css">
    <script src="~/js/photobox.js"></script>
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 170px;
            border: 1px solid #bbb;
        }
    </style>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });

        $('[data-mask]').inputmask()
        $(function () {
            $('.gallery a').photobox();
        });
        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Teams/Index'
            });
        });

        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    const TeamImg = document.getElementById('Img');
                    TeamImg.style.backgroundImage = "url(" + e.target.result + ")";
                    TeamImg.style.backgroundPosition = "cover";
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#TeamImage").change(function () {
            readURL(this);
        });


        function myFunction(data) {
            var snackBar = document.getElementById('snackbar');
            snackBar.textContent = data;
            snackBar.className = "show";
            setTimeout(function () { snackBar.className = snackBar.className.replace("show", ""); }, 3000);
        }

        $(function () {
            $('#TeamCreate').click(function () {
                try {
                    var formData = $("#TeamForm").serialize();
                    $.ajax(`/Teams/Create`, {
                        data: formData,
                        headers: {
                            'RequestVerificationToken': document.getElementById("RequestVerificationToken").value,
                        },
                        method: "POST"
                    }).done(function (data) {
                        window.location = '/Teams/Index'
                        myFunction(data);
                    }).fail(function (data) {
                        myFunction(data);
                    });


                } catch (ex) {
                    console.error(ex);
                }
            });
        });

    </script>
}

