@model WebApp.ViewModels.Teamdto

@{
    ViewData["Title"] = "Add Team";
}

<div class="container-fluid">
    <div class="row">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-8">
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Team Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="Team_Name" required class="form-control" />
                        <span asp-validation-for="Team_Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Zone</label>
                        <input asp-for="Zone" type="number" class="form-control" />
                        <span asp-validation-for="Zone" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">City<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                        <input asp-for="City" required class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Place</label>
                        <input asp-for="Place" class="form-control" />
                        <span asp-validation-for="Place" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group label-floating">
                        <label class="control-label">Contact</label>
                        <input asp-for="Contact" class="form-control" />
                        <span asp-validation-for="Contact" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label>
                            <input type="checkbox" asp-for="IsRegistered" value="true" class="flat-red">
                            IsRegistered
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="img-responsive" id="Img" style="background-size:cover; margin-bottom: 1em;"></div>

                            <label asp-for="TeamImage" class="btn btn-primary">
                                <i class="far fa-images"> Upload</i><input asp-for="TeamImage" type="file" class="hidden" style="height:auto" />
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </div>
        </form>
    </div>

    <div class="footer">
        <div class="container text-center">
            <button id="BackBtn" class="btn btn-primary btn-xs">Back</button>
        </div>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <script src="~/plugins/iCheck/icheck.min.js"></script>
    <style>
        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 160px;
            width: 200px;
            border: 1px solid #bbb;
        }
    </style>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });

        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Teams/Index'
            });


            function readURL(input) {

                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        //$('#PlayerImg').attr('src', e.target.result);
                        const TeamImg = document.getElementById('Img');
                        TeamImg.style.backgroundImage = "url(" + e.target.result + ")";
                        TeamImg.style.backgroundPosition = "cover";
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $("#TeamImage").change(function () {
                readURL(this);
            });
        });
    </script>
}

