
@{
    Layout = "_LoginLayout";
}
<div class="container">
    <div class="row">

        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="center gap fade-down section-heading">
                <img id="logo" src="~/images/ScoreExec copy.png" />
            </div>
            <div class="login-box well">
                <h4>You have approved the user</h4>
                <h1>Successfully <span class="label label-success"><i class="fas fa-check"></i></span></h1>

                <!-- /.social-auth-links -->
                <a id="Login" style="cursor: pointer" class="text-center">Login</a>
            </div>
        </div>
        <div class='col-md-3'></div>
    </div>
</div>

@section scripts {
  
    <style>
        #logo {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 80px;
            width: 300px;
        }
    </style>
    <script>

        $('#Login').click(function () {
            $(function () {
                window.location = '/Account/Login'
            });

        })

    </script>
}