
@{
    Layout = "_LoginLayout";
}
<div class="container">
    <div class="row">

        <div class='col-md-3'></div>
        <div class="col-md-6">
            <div class="center gap fade-down section-heading">
                <img id="logo" src="~/images/ScoreExec copy.png" />
            </div>
            <div class="login-box well">
                <h5>You will recieve a confirmation email after being approved by the admin</h5>
                <h1>Thank you</h1>

                <!-- /.social-auth-links -->
                <a id="Guest" style="cursor: pointer" class="text-center">Continue as a guest</a>

            </div>
        </div>
        <div class='col-md-3'></div>
    </div>
</div>
@section scripts {
  
    <style>
        #logo {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 80px;
            width: 300px;
        }
    </style>
    <script>
      
        $('#Guest').click(function () {
            $(function () {
                window.location = '/Home/Index'
            });

        })

    </script>
}