
@{
    Layout = "_LoginLayout";
}

<div class="login-box">
    <div class="login-logo">
        <img id="logo" src="~/images/ScoreExec copy.png" />
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <h4>An email has been sent to you</h4>
        <h1>Thank you</h1>

        <!-- /.social-auth-links -->
        <button id="Exit" style="cursor: pointer" class="btn btn-primary btn-block btn-flat">Exit</button>
    </div>
    <!-- /.login-box-body -->
</div>
@section scripts {
  
    <style>
        #logo {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 45px;
            width: 200px;
            
        }
    </style>
    <script>
        $('#Exit').click(function () {
            $(function () {
                window.location = '/Account/Login'
            });

        })

    </script>
}