@model IdentityDemo.Models.AccountViewModels.RegisterViewModel

@{
    Layout = "_LoginLayout";
}


<div class="register-box">
    <div class="register-logo">
        <a href="../../index2.html"><b>Score</b>Exec</a>
    </div>
    <div class="register-box-body">
        <p class="login-box-msg">Register a new user</p>
        <form asp-action="Register" enctype="multipart/form-data">
            <div class="form-group has-feedback">
                <input type="text" class="form-control" asp-for="UserName" placeholder="Full name">
                <span></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" id="Email" class="form-control" asp-for="Email" placeholder="Email">
                <span id="EmailError"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="email" id="ConfirmEmail" class="form-control" asp-for="EmailConfirmed" placeholder="Confirm Email">
                <span id="ConfirmEmailError"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="Password" class="form-control" asp-for="Password" placeholder="Password">
                <span id="PasswordError"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="password" id="ConfirmPass" class="form-control" placeholder="Retype password" asp-for="ConfirmPassword">
                <span id="ConfirmPassError"></span>
            </div>
            <div class="form-group has-feedback">
                <input type="number" id="PhoneNumber" class="form-control" placeholder="Phone" asp-for="PhoneNumber">
                <span id="PhoneNumber"></span>
            </div>

            <div class="form-group has-feedback">
                <select asp-for="RoleName" asp-items="ViewBag.RoleName"  required style="width: 100%" id="RoleId" class="js-example-basic-single">
                    <option value="">Select Role</option>
                </select>
            </div>

            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input id="input" type="checkbox"> I agree to the <a href="#">terms</a>
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="submit" disabled id="CreateBtn" class="btn btn-primary btn-block btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="login.html" class="text-center">Continue as a guest</a>
    </div>
    <!-- /.form-box -->
</div>



@section scripts {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <link rel="stylesheet" href="../../plugins/iCheck/square/blue.css">
    <script src="../../plugins/iCheck/icheck.min.js"></script>
    <style>
        #PlayerImg {
            border: 1px solid #bbb;
        }
    </style>
    <script>
        $(function () {
            $('input').iCheck({
                checkboxClass: 'icheckbox_square-blue',
                radioClass: 'iradio_square-blue',
                increaseArea: '20%' /* optional */
            });
        });

        //Select2
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });

        const state = {
            isEmailValid: true,
            isPasswordValid: false,
            isConfirmPasswordValid: false,
            isConfirmEmail: false
        };

        var Already = function () {

            window.location = 'Login'
        }

        var header = new Headers();
        header.append("content-type", "application/json");

        function validatePassword(password) {
            var re = /^(?=.*[A-Z])(?=.*[!@@#$&*])(?=.*[0-9].)(?=.*[a-z].*[a-z].*[a-z]).{6,}$/;
            return re.test(String(password));
        }

        function validateEmail(email) {
            var re = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
            return re.test(String(email).toLowerCase());
        }
        $('#ConfirmPass').blur(function () {
            const ConfirmPass = $('#ConfirmPass').val();
            var confirmpass = document.getElementById("ConfirmPass").value;
            var pass = document.getElementById("Password").value;
            if (confirmpass == pass) {
                state.isConfirmPasswordValid = true;
                updateState(state);
                document.getElementById("ConfirmPassError").innerHTML = "Password match";
                document.getElementById("ConfirmPassError").style.color = "#32CD32";
            }
            else {
                document.getElementById("ConfirmPassError").innerHTML = "Password does not match";
                document.getElementById("ConfirmPassError").style.color = "#FF0000";
                state.isPasswordValid = false;
            }
        });

        $('#ConfirmEmail').blur(function () {

            var ConfirmEmail = document.getElementById("ConfirmEmail").value;
            var email = document.getElementById("Email").value;
            if (ConfirmEmail == email) {
                state.isConfirmEmail = true;
                updateState(state);
                document.getElementById("ConfirmEmailError").innerHTML = "Email match";
                document.getElementById("ConfirmEmailError").style.color = "#32CD32";
            }
            else {
                document.getElementById("ConfirmEmailError").innerHTML = "Email does not match";
                document.getElementById("ConfirmEmailError").style.color = "#FF0000";
                state.isConfirmEmail = false;
            }
        });

        $('#Password').blur(function () {
            const password = $('#Password').val();
            if (validatePassword(password)) {
                state.isPasswordValid = true;
                updateState(state);
                document.getElementById("PasswordError").innerHTML = "Valid";
                document.getElementById("PasswordError").style.color = "#32CD32";
            }
            else {
                document.getElementById("PasswordError").style.color = "#FF0000";
                document.getElementById("PasswordError").innerHTML = "Invalid";
                state.isPasswordValid = false;;
            }
        });

        const updateState = (state) => {
            if (state.isEmailValid && state.isPasswordValid && state.isConfirmPasswordValid && state.isConfirmEmail) {
                $("#CreateBtn").removeAttr("disabled");

            } else {
                $("#CreateBtn").attr("disabled", "disabled");

            }

        };

                //$('#Email').blur(function () {

                //    const email = $('#Email').val();
                //    if (validateEmail(email)) {
                //        state.isEmailValid = true;
                //        updateState(state);
                //        fetch(`/Account/IsEmailAvailable?email=${email}`, {
                //            method: "GET",

                //            credentials: 'same-origin',
                //            headers: header
                //        }).then(res => {
                //            const body = res.json().then(data => {
                //                if (data) {
                //                    document.getElementById("EmailError").innerHTML = "Already Exists";
                //                    document.getElementById("EmailError").style.color = "#FF0000";
                //                }
                //                else {

                //                    document.getElementById("EmailError").innerHTML = "Available";
                //                    document.getElementById("EmailError").style.color = "#32CD32";
                //                    return;
                //                }

                //            })
                //        });

                //        return;
                //    }
                //    else {
                //        document.getElementById("EmailError").style.color = "#FF0000";
                //        document.getElementById("EmailError").innerHTML = "Insert a valid email address";
                //        state.isEmailValid = false;
                //        return;

                //    }

                //});

    </script>
}