@model WebApp.ViewModels.MatchScheduledto

@{
    ViewData["Title"] = "Add Team";
}
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">
<div class="container-fluid">
    <ol class="breadcrumb">
        <li><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li><a asp-controller="Teams" asp-action="Index">Team</a></li>
        <li><a asp-controller="Schedule" asp-action="Index">Schedule</a></li>
        <li><a>Add</a></li>
    </ol>
</div>
<div class="container-fluid">
    <div class="row">
        <form id="ScheduleForm" enctype="multipart/form-data">
            <input hidden asp-for="TeamId" value="@ViewBag.TeamId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Ground Name<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                    <input asp-for="GroundName" required class="form-control" />
                    <span asp-validation-for="GroundName" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group label-floating">
                    <label class="control-label">Opponent Team</label>
                    <input asp-for="OpponentTeam" class="form-control" />
                    <span asp-validation-for="OpponentTeam" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-floating">
                    <label class="control-label">Day<i class="fa fa-asterisk" style="color: red" aria-hidden="true"></i></label>
                    <input asp-for="Day" type="number" class="form-control" />
                    <span asp-validation-for="Day" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-floating">
                    <label class="control-label">Month</label>
                    <input asp-for="Month" class="form-control" />
                    <span asp-validation-for="Month" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group label-floating">
                    <label class="control-label">Year</label>
                    <input asp-for="Year" type="number" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div>
            </div>
        </form>
    </div>
    <div id="snackbar"></div>
    <div class="footer">
        <ul class="list-inline">
            <li><input id="BackBtn" type="button" value="Back" class="btn btn-default prev-step"></li>
            <li><input id="ScheduleCreate" type="button" value="Add" class="btn btn-primary"></li>
        </ul>
    </div>
</div>





@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <style>
    </style>
    <script>

        $(function () {
            $('#BackBtn').click(function () {
                window.location = '/Teams/Index'
            });
        });
        $(function () {
            $('#ScheduleCreate').click(function () {
                try {
                    var formData = $("#ScheduleForm").serialize();
                    $.ajax(`/Schedule/Create`, {
                        data: formData,
                        headers: {
                            'RequestVerificationToken': document.getElementById("RequestVerificationToken").value,
                        },
                        method: "POST"
                    }).done(function (data) {
                        window.location = '/Schedule/Index'
                        myFunction(data);
                    }).fail(function (data) {
                        myFunction(data);
                    });


                } catch (ex) {
                    console.error(ex);
                }
            });
        });


        function myFunction(data) {
            var snackBar = document.getElementById('snackbar');
            snackBar.textContent = data;
            snackBar.className = "show";
            setTimeout(function () { snackBar.className = snackBar.className.replace("show", ""); }, 3000);
        }
    </script>
}

