body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
.login-right{
    float: right !important; 
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}
.CustomInput{
    width: 100px;
}
.cursor{
    cursor:pointer;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

body > div > div > div.container > div > div > div > div.container-fluid > form > div:nth-child(4) > div:nth-child(2) > div.btn-group.bootstrap-select.open.dropup > div > ul {
    display: grid !important;
}
