
@{
    ViewData["Title"] = "About-Us";
}
<div class="container-fluid">
    <div class="col-md-12" style="background-color:powderblue;">
        <h4>We Are Commited;</h4>
    </div>

    <ul>
        <li>
            FriendsBit offers a full range of value-added ERP and CRM services for customers with new and existing solution deployments.
        </li>
        <li>
            We provide strategy and planning, design and architecture, implementation and optimization, and maintenance and support capabilities under one roof.
        </li>
        <li>Giving our customers high flexibility, excellent value, and complete peace of mind.</li>
    </ul>
</div>

<div class="container-fluid">
    <div class="col-md-12" style="background-color:powderblue;">
        <h4>Contact Details</h4>
    </div>

    <ul>
        <li>
            <strong>Contact: </strong> 0342-2181946
        </li>
        <li>
            <strong>Email: </strong> scoreexec@gmail.com
        </li>
        <li>
            <strong>Address: </strong> House # __ block 20 ancholi gulshan
        </li>
    </ul>
</div>
@section Scripts{
    <style>

        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 20px;
            width: 25px;
        }
    </style>
}
