
@{
    ViewData["Title"] = "Developers";
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-2">

            <div class="img-responsive" style=' margin-top:.5em; background-size:cover; background-image: url("/images/Khalil.PNG");' id="Img"></div>

        </div>
        <div class="col-md-10">
            <div class="callout callout-danger">
                <p>
                    <ul>
                        <li>
                            <strong>Name:</strong> Khalil Ur Rehman
                        </li>
                        <li>
                            <strong>Designation:</strong> Chairman/ Senior Software Developer
                        </li>
                        <li>
                            <strong>Qualification:</strong> BS in Computer Science (PAF-KIET)
                        </li>
                        <li>
                            <strong>Expertise: </strong>  Dot net , SQL, My Sql, Node js, React Native, React Js, Angular Js
                        </li>
                        <li>Khalil is very skill full and enthuthiasm, and dedicated, He has very strong logical concept and powerfull programming skills</li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">

            <div class="img-responsive" style=' margin-top:.5em; background-size:cover; background-image: url("/images/Faraz.JPG");' id="Img"></div>

        </div>
        <div class="col-md-10">
            <div class="callout callout-info">



                <p>
                    <ul>
                        <li>
                            <strong>Name:</strong> Faraz Ahmed Shaikh
                        </li>
                        <li>
                            <strong>Designation:</strong> Senior Software Developer
                        </li>
                        <li>
                            <strong>Qualification:</strong> BS in Computer Science (Indus University)
                        </li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">

            <div class="img-responsive" style=' margin-top:.5em; background-size:cover; background-image: url("/images/Arsalan.jpg");' id="Img"></div>

        </div>
        <div class="col-md-10">
            <div class="callout callout-danger">


                <p>
                    <ul>
                        <li>
                            <strong>Name:</strong> Muhammad Arsalan
                        </li>
                        <li>
                            <strong>Designation:</strong> Senior Software Developer
                        </li>
                        <li>
                            <strong>Qualification:</strong> BS in Computer Science (Iqra University)
                        </li>
                    </ul>

                </p>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-2">

            <div class="img-responsive" style=' margin-top:.5em; background-size:cover; background-image: url("/images/Bilal.JPG");' id="Img"></div>

        </div>
        <div class="col-md-10">
            <div class="callout callout-info">

                <p>
                    <ul>
                        <li>
                            <strong>Name:</strong> Bilal Moosani
                        </li>
                        <li>
                            <strong>Designation:</strong> Junior Software Developer
                        </li>
                        <li>
                            <strong>Qualification:</strong> BS in Computer Science (Indus University)
                        </li>
                    </ul>

                </p>
            </div>
        </div>
    </div>

</div>
@section Scripts{
    <style>

        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 120px;
            width: 100px;
        }
    </style>
}
