
@{
    ViewData["Title"] = "Our Partners";
}
<div class="container-fluid">
    <div class="col-md-12">
        <div class="col-md-2">

            <div class="img-responsive" style=' margin-top:2em; background-size:cover; background-image: url("/images/poc copy.png");' id="Img"></div>

        </div>
        <div class="col-md-10">
            <div class="callout callout-info">


                <h2>Pole of Cricket</h2>
                <p>
                   We aim to advance the game of cricket in KCCA Zone 4 area through sportsmanship, leadership, discipline and hard work.
                    Our goal is to provide the opportunity, environment and facilities to people of all ages and abilities to play cricket.
                    We are continiously focusing on the cricket club

                </p>
            </div>
        </div>
    </div>
    @*<div class="callout callout-danger">
        <h4>Warning!</h4>
        <p>
            The construction of this layout differs from the normal one. In other words, the HTML markup of the navbar
            and the content will slightly differ than that of the normal layout.
        </p>
    </div>*@
</div>
<h4>We Are Commited;</h4>
@section Scripts{
    <style>

        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 100px;
            width: 100px;
        }
    </style>
}
