
@{
        ViewData["Title"] = "Our Partners";
    }
<div class="container-fluid">
   <h1>Partners or Clients</h1>
</div>
@section Scripts{
    <style>

        #Img {
            background-image: url('');
            background-size: cover;
            background-position: center;
            height: 20px;
            width: 25px;
        }
    </style>
}
